<div class="card">
    <div class="img-wrapper">
         <img src="../../../assets/img/BirlaHouse.png" class="img-fluid propImage card-img-top" alt="House Img">
         <ul class="list-inline text-center">
            <li class="list-inline-item member-icon">
                <button class="btn btn-primary">E</button>
            </li>
            <li class="list-inline-item member-icon">
                <button class="btn btn-primary">C</button>
            </li>
         </ul>
    </div>
    <div class="card-body p-1">
        <h1 class="h5">{{property.Name}}</h1>
        <h1 class="h6">{{property.Type}}</h1>
        <h1 class="h6">{{property.Price}}</h1>
    </div>
</div>
